<ul class="nav__list nav__list--hide" id="menu-nav">
    <li class="nav__list__item"><a asp-controller="Article" asp-action="AboutUs" class="nav__list__item__link">O nás</a></li>
    <li class="nav__list__item"><a asp-controller="Music" asp-action="Index" class="nav__list__item__link">Co hrajeme</a></li>
    <li class="nav__list__item"><a asp-controller="Event" asp-action="Index" class="nav__list__item__link">Kalendář</a></li>
    <li class="nav__list__item"><a asp-controller="Gallery" asp-action="Index" class="nav__list__item__link">Fotogalerie</a></li>
    <li class="nav__list__item"><a asp-controller="Contact" asp-action="Index" class="nav__list__item__link">Kontakt</a></li>
</ul>
