@{
    ViewBag.Title = "Fotogalerie";
    ViewBag.Description = "";
    ViewBag.Image = "assets/dist/images/fotogalerie_fotka.jpg";
    ViewBag.ImageDescription = "Markéta Vočková a Filip Vítů. Zlínská kapela hrající rock, pop, soul blues. Hrajeme na vernisážích, koncertech, svatbách, firemních večírcích a další.";
    
    Layout = "_Layout";
}

<section class="section section__gallery">
    <div class="container">
        <div class="section__gallery__grid">
            <div class="section__gallery__grid__list section__gallery__grid__list--3">
                <a href="~/assets/dist/images/gallery/1.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/1.jpg" alt="Markéta Vodičková a Filip Vítů. Zlínské duo. Zpěv a kytara." loading="lazy" /></a>
                <a href="~/assets/dist/images/gallery/2.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/2.jpg" alt="Markéta Vodičková a Filip Vítů. Kytara a zpěv. Zlín. Svatby, koncerty, vernisáže." loading="lazy" /></a>
                <a href="~/assets/dist/images/gallery/3.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/3.jpg" alt="Markéta Vodičková a Filip Vítů. Kytara a zpěv. Koncert. Zlínské duo. Zlínská kapela." loading="lazy" /></a>
            </div>
        
            <div class="section__gallery__grid__list section__gallery__grid__list--1">
                <a href="~/assets/dist/images/gallery/4.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/4.jpg" alt="Markéta Vodičková a Filip Vítů. Kytara a zpěv. Zlín. Společné focení." loading="lazy" /></a>
        
            </div>
        
            <div class="section__gallery__grid__list section__gallery__grid__list--3">
                <a href="~/assets/dist/images/gallery/5.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/5.jpg" alt="Markéta Vodičková a Filip Vítů. Kapela. Zlín. Brno. Koncert." loading="lazy" /></a>
                <a href="~/assets/dist/images/gallery/6.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/6.jpg" alt="Markéta Vodičková a Filip Vítů. Zlínské duo. Zlín. Koncert." loading="lazy" /></a>
                <a href="~/assets/dist/images/gallery/7.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/7.jpg" alt="Markéta Vodičková a Filip Vítů. Kytara a zpěv. Zlín. Svatby, koncerty, vernisáže." loading="lazy" /></a>
            </div>
        
            <div class="section__gallery__grid__list section__gallery__grid__list--2">
                <a href="~/assets/dist/images/gallery/8.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/8.jpg" alt="Markéta Vodičková a Filip Vítů. Zlín. KUC. Kultruně umělecké centrum Zlín. Koncert" loading="lazy" /></a>
                <a href="~/assets/dist/images/gallery/9.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/9.jpg" alt="Markéta Vodičková a Filip Vítů. Kytara a zpěv. Zlín. Svatby, koncerty, vernisáže." loading="lazy" /></a>
            </div>
        
            <div class="section__gallery__grid__list section__gallery__grid__list--2--second-bigger">
                <div class="section__gallery__grid__list__items">
                    <a href="~/assets/dist/images/gallery/10.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/10.jpg" alt="Markéta Vodičková a Filip Vítů.  Zlínské duo. Duo. Kapela. Svatby, koncerty, vernisáže." loading="lazy" /></a>
                    <a href="~/assets/dist/images/gallery/13.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/13.jpg" alt="Markéta Vodičková a Filip Vítů. Koncert. Firemní večírek. KUC. Zlín. Kulturně umělecké centrum." loading="lazy" /></a>
                </div>
        
                <div class="section__gallery__grid__list__items">
                    <a href="~/assets/dist/images/gallery/11.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/11.jpg" alt="Markéta Vodičková a Filip Vítů. Kapela na svatbu. Zlín. Duo na svatbu." loading="lazy" /></a>
                    <a href="~/assets/dist/images/gallery/12.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/12.jpg" alt="Markéta Vodičková a Filip Vítů. Koncert. Firemní večírek. KUC. Zlín. Kulturně umělecké centrum." loading="lazy" /></a>
                </div>
            </div>
        
            <div class="section__gallery__grid__list section__gallery__grid__list--3">
                <a href="~/assets/dist/images/gallery/14.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/14.jpg" alt="Markéta Vodičková a Filip Vítů. Zlínská kapela. Kongresák. Koncert." loading="lazy" /></a>
                <a href="~/assets/dist/images/gallery/15.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/15.jpg" alt="Markéta Vodičková a Filip Vítů. Focení v parku. Zlín. Zlínská kapela." loading="lazy" /></a>
                <a href="~/assets/dist/images/gallery/16.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/16.jpg" alt="Markéta Vodičková a Filip Vítů. Koncert. Zpěv a kapela." loading="lazy" /></a>
            </div>
        
            <div class="section__gallery__grid__list section__gallery__grid__list--2--first-bigger">
                <a href="~/assets/dist/images/gallery/17.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/17.jpg" alt="Markéta Vodičková a Filip Vítů. Kytara a zpěv. Zlín. Svatby, koncerty, vernisáže." loading="lazy" /></a>
                <a href="~/assets/dist/images/gallery/18.jpg"><img class="section__gallery__grid__item__img" src="~/assets/dist/images/gallery/18.jpg" alt="Markéta Vodičková a Filip Vítů. Hraní ve staré knihovně. Kytara." loading="lazy" /></a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => { new web.MainController(); });
        document.addEventListener("DOMContentLoaded", () => { new web.GalleryController(); });
        
    </script>
    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    
    <!-- Magnific Popup core JS file -->
    <script src="~/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    
    <script>
        $(document).ready(function() {
                    $('.section__gallery__grid').each(function() { // the containers for all your galleries
                        $(this).magnificPopup({
                            delegate: 'a', // the selector for gallery item
                            type: 'image',
                            gallery: {
                                enabled:true
                            }
                        });
                    });
                    if (document.getElementsByClassName("section__gallery__grid").length === 0) {
                        $('.image-link').magnificPopup({
                            type:'image'
                        });
                    }        
                });
    </script>
}