.section__contact {
  margin-top: -150px;
  position: relative;
  z-index: 1;
  
  @include phonetablet {
    margin-top: 0;
    position: static;
  }
  
  &__back-image {
    position: absolute;
    right: 0;
    z-index: -1;

    width: 30vw;
    height: 500px;
    background-image: url("../images/kontakt_delici_pozadi.jpg");
    
    @include phonetablet {
      display: none;
    }
  }
  &__block {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    padding-top: 200px;
    
    @include phonetablet {
      padding-top: 50px;
    }
    
    @include phone {
      grid-template-columns: auto;
    }
    
    &__text-block {
      display: flex;
      justify-content: center;
      flex-direction: column;
      p {
        font-family: $font;
        font-size: $font-size;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.83;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        display: block;
      }
    }
    &__image {
      img {
        max-width: 650px;
        width: 100%;
        @include phone {
          max-width: 100%;
        }
      }
    }
  }
}