.footer {
  text-align: center;
  background-color: black;
  padding-top: 40px;
  padding-bottom: 30px;
  color: white;
  margin-top: 100px;
  @include phone {
    margin-top: 50px;
  }
  &__social {
    margin-bottom: 40px;
    &__item {
      display: inline-block;
      margin-right: 25px;
      svg {
        width: 50px;
        height: auto;
      }
      &:last-child {
        margin-right: 0;
      }
    }    
  }
  &__text {
    &__text {
      font-family: $font;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
    }
  }
}