.section__form {
  position: relative;
  z-index: 10;
  &__block {
    width: 60%;
    &__item {
      width: 100%;
      label {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        
        font-family: $font;
        font-size: $font-size;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }
      input, select, textarea {
        width: 100%;
        display: block;
        border: 0;
        border-bottom: 1px solid black;
        font-family: $font;
        font-size: $font-size;
        padding: 2px;
        
        option {
          background: transparent;
        }
      }
      textarea {
        min-height: 50px;
        margin-bottom: 20px;
      }
      input[type=submit] {
        background: transparent;
        text-align: center;
        width: 100px;
        margin: auto 0 auto auto;
        border: 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &--column {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 100px;
      grid-row-gap: 20px;
      margin-bottom: 20px;
    }
  }
}