//.section__gallery {
//  &__grid {
//    column-count: 3;
//    column-gap: 5px;
//    &__img {
//      width: 100% !important;
//      height: auto !important;
//    }
//  }
//}

.section__gallery {
  &__grid {    
    &__list {
      display: grid;
      grid-column-gap: 5%;
      margin-bottom: 5%;
      &--1 {
        grid-template-columns: 100%;
      }
      &--2 {
        grid-template-columns: 47.5% 47.5%;
        
        &--first-bigger {
          grid-template-columns: 60% 35%;
        }
        &--second-bigger {
          grid-template-columns: 35% 60%;
        }
      }
      &--3 {
        grid-template-columns: 30% 30% 30%;
      }
      
      &__items {
        display: grid;
        grid-row-gap: 5%;
        padding-bottom: 8%;
      }
    }
    
    &__item {
      &__img {
        width: 100%;
        height: auto;
      }
    }
  }
}