@import "menu";

.header {
  background-image: url("../images/fotogalerie_pozadi.jpg");
  background-size: cover;
  &__content {
    padding-top: 200px;
    padding-bottom: 100px;
    
    position: relative;
    
    &__title {
      font-family: $font;
      font-size: 100px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #f1f4f1;
    }
    
    &__text {
      color: #fff;
      position: relative;
      z-index: 5;
      
      &__title {
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      &__description {
        height: 150px;
        display: block;
        max-width: 500px;

        font-family: $font;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
    }
    &__media {
      position: absolute;
      right: -60px;
      top: 50px;
      
      &__img {
        max-width: 800px;
        width: 100%;
        height: auto;
      }
    }
  }
  &--full {
    height: 100vh;
    background-image: url("../images/uvodnifotka.jpg");
    background-size: cover;
    position: relative;
    
    .header__content {
      width: 100%;
      position: absolute;
      bottom: 0;
      &__title {
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
      }
    }
  }
}