@import "menu";

.header {
  background-image: url("../images/fotogalerie_pozadi.jpg");
  background-size: cover;
  padding-top: 100px;
  &__content {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;

    @media (max-width: 1380px) {
      display: grid;
      grid-template-columns: 50% 50%;
      padding-top: 50px;
    }
    @include phone {
      padding-top: 50px;
      display: flex;
      align-items: center;
    }
    
    @include phone {
      flex-direction: column-reverse;
    }
    
    &__title {
      font-family: $font;
      font-size: 100px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #f1f4f1;
      
      @include phone {
        font-size: 50px;
      }
    }
    
    &__text {
      color: #fff;
      position: relative;
      z-index: 5;
      
      @include phone {
        margin-top: 20px;
        width: 100%;
      }
      
      &__title {
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      &__description {
        height: 150px;
        display: block;
        max-width: 500px;

        font-family: $font;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        
        @include phone {
          height: auto;
          font-size: 25px;
          max-width: 100%;
        }
      }
    }
    &__media {
      position: absolute;
      right: -60px;
      top: 70px;

      @media (max-width: 1380px) {
        position: static;
      }
      
      
      &__img {
        max-width: 750px;
        width: 100%;
        height: auto;
      }
    }
  }
  &--full {
    height: 100vh;
    background-image: url("../images/uvodnifotka.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    
    @include phone {
      background-image: url("../images/uvodnifotka-m.jpg");
    }
    
    .header__content {
      width: 100%;
      position: absolute;
      bottom: 0;
      &__title {
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
        
        @include phone {
          font-size: 60px;
          margin-bottom: 0;
        }
      }
    }
  }
}