.section__image-transition {
  position: relative;
  
  .container {
    &--custom {
      padding-top: 90px;
    }
  }
  
  &__back-image {
    position: absolute;
    z-index: -1;
    
    &--calendar {
      width: 70vw;
      height: 380px;
      background-image: url("../images/kalendar_delici_pozadi.jpg");
      left: 0;
    }
    
    &--main {
      width: 85vw;
      height: 380px;
      background-image: url("../images/libisevamjakhrajemefotka.jpg");
      right: 0;
    }
  }
  &__main-image {
    height: auto;
    width: auto;
    img {
      margin-top: 100px;
      width: 100%;
      max-width: 630px;
      height: auto;
    }
  }
  &__block-image {
    background-image: url("../images/libisevamjakhrajeme.jpg");
    width: 580px;
    padding: 20px;
    &__title {
      color: #ffffff;
      font-size: 80px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      text-transform: none;
      
      margin-top: 60px;
      margin-bottom: 50px;
    }
    &__link {
      color: #ffffff;
      font-size: 50px;
      text-decoration: none;
      margin-bottom: 50px;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}