.section__photos {
  &__block {
    display: grid;
    grid-template-columns: 60% auto;
    grid-column-gap: 100px;
    align-items: center;
    
    width: 90%;
    margin: auto;
    
    &__list {
      &__item {
        display: none;
        //display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 50px;
        align-items: center;
        
        &__column {
          
        }

        &__photo {
          display: block;
          margin: auto;
          max-width: 400px;

          &--small {
            max-width: 330px;
          }
          &--middle {
            max-width: 270px;
          }
          
          &:first-child {
            margin-bottom: 50px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        
        &--active {
          display: grid;
        }
      }
    }
    &__navigation {
      &__list {
        &__item {
          text-transform: uppercase;
          list-style: none;
          margin-bottom: 0;

          font-family: $font;
          font-size: 30px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 2;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
          
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}