.section__video {
  &__block {
    display: grid;
    grid-template-columns: 65% auto;
    grid-column-gap: 24px;
    align-items: center;
    position: relative;
    
    @include phonetablet {
      grid-template-columns: auto;
    }
    
    &__player {
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;
      iframe {
        width: 100%;
        height: 100%;
        max-height: 480px;
        @include phonetablet {
          height: 480px;
        }
      }
    }
    &__list {
      max-height: 480px;
      overflow-y: scroll;
      
      @include phonetablet {
        display: flex;
        height: 115px;
        overflow-x: auto;
        overflow-y: hidden;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
      }
      &::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #000000;
        border: 2px solid #F5F5F5;
      }
      
      &__item {
        display: grid;
        grid-template-columns: 30% auto;
        grid-column-gap: 24px;
        align-items: center;
        @include phonetablet {
          display: inline-block;
          grid-column-gap: 0;
        }
        &:hover {
          cursor: pointer;
        }
        &__image {
          max-width: 160px;
        }
        &__text {
          @include phonetablet {
            display: none;
          }
          &__title {
            font-family: $font;
            font-size: $font-size;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
          }
        }
      }
    }
    
    &__back-image {
      position: absolute;
      background-image: url("../images/cohrajeme_videopozadi.jpg");
      height: auto;
      width: 45%;
      right: -10px;
      top: -40px;
      bottom: -40px;
      z-index: -1;
      @include phonetablet {
        display: none;
      }
    }
  }
}