@using CMS.Common.Enums
@model CMS.Models.Article.ArticleUpdateModel

@{
    ViewBag.Title = "Edit článků";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" onsubmit="HandleSubmit()">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Draft" />
    <input type="hidden" asp-for="PageType" />
    <input type="hidden" asp-for="Url" />
    <input type="hidden" asp-for="PublicationDateTime" />
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="hidden" id="editor-value" asp-for="Text"/>
        <label asp-for="Text" class="control-label"></label>
        <div asp-for="Text" class="form-control" id="editor">
            @Html.Raw(Model.Text)
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Uložit" class="btn btn-primary" />
    </div>
</form>
