@model CMS.Models.Calendar.CalendarNewModel

@{
    ViewBag.Title = "Create";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateTime" class="control-label"></label>
        <input asp-for="DateTime" class="form-control" />
        <span asp-validation-for="DateTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Place" class="control-label"></label>
        <input asp-for="Place" class="form-control" />
        <span asp-validation-for="Place" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BandCompositionId" class="control-label"></label>
        <select asp-for="BandCompositionId" asp-items="ViewBag.bandComposition" class="form-control" ></select>
        <span asp-validation-for="BandCompositionId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventTypeId" class="control-label"></label>
        <select asp-for="EventTypeId" asp-items="ViewBag.eventType" class="form-control" ></select>
        <span asp-validation-for="EventTypeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
