@model CMS.Models.BandComposition.BandCompositionNewModel

@{
    ViewBag.Title = "title";
}

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FormFile" class="control-label"></label>
        <input asp-for="FormFile" class="form-control-file" />
        <span asp-validation-for="FormFile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Uložit" class="btn btn-primary" />
    </div>
</form>
