@model ContactModel

@{
    ViewBag.Title = "Kontakt";
    ViewBag.Description = "";
    ViewBag.Image = "/assets/dist/images/kontakt_fotka.jpg";
    ViewBag.ImageDescription = "Markéta Vodičková a Filip Vítů. Zlínské duo. Zlínská kapela na svatby, vernisáže, firemní akce.";
    
    Layout = "_Layout";
}

<section class="section section__form">
    <div class="container">
        <h2 class="section__title">Poptávkový formulář</h2>
        <form asp-area="" asp-controller="Contact" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="section__form__block">
                <div class="section__form__block--column">
                    <div class="section__form__block__item">
                        <label class="section__calendar__block__list__item__label" asp-for="Name"></label>
                        <input class="section__calendar__block__list__item__input" asp-for="Name">
                        <span asp-validation-for="Name" class="section__calendar__block__list__item__error"></span>
                    </div>
                    <div class="section__form__block__item">
                        <label class="section__calendar__block__list__item__label" asp-for="Email"></label>
                        <input class="section__calendar__block__list__item__input" asp-for="Email">
                        <span asp-validation-for="Email" class="section__calendar__block__list__item__error"></span>
                    </div>
                    <div class="section__form__block__item">
                        <label class="section__calendar__block__list__item__label" asp-for="DateTime"></label>
                        <input class="section__calendar__block__list__item__input" asp-for="DateTime">
                        <span asp-validation-for="DateTime" class="section__calendar__block__list__item__error"></span>
                    </div>
                    <div class="section__form__block__item">
                        <label class="section__calendar__block__list__item__label" asp-for="Place"></label>
                        <input class="section__calendar__block__list__item__input" asp-for="Place">
                        <span asp-validation-for="Place" class="section__calendar__block__list__item__error"></span>
                    </div>
                    <div class="section__form__block__item">
                        <label class="section__calendar__block__list__item__label" asp-for="EventTypeId"></label>
                        <select asp-for="EventTypeId" asp-items="ViewBag.eventType"></select>
                        <span asp-validation-for="EventTypeId" class="section__calendar__block__list__item__error"></span>
                    </div>
                    <div class="section__form__block__item">
                        <label class="section__calendar__block__list__item__label" asp-for="BandCompositionId"></label>
                        <select asp-for="BandCompositionId" asp-items="ViewBag.bandComposition"></select>
                        <span asp-validation-for="BandCompositionId" class="section__calendar__block__list__item__error"></span>
                    </div>
                    <div class="section__form__block__item">
                        <label class="section__calendar__block__list__item__label" asp-for="MobileNumber"></label>
                        <input class="section__calendar__block__list__item__input" asp-for="MobileNumber">
                        <span asp-validation-for="MobileNumber" class="section__calendar__block__list__item__error"></span>
                    </div>
                    <div class="section__form__block__item">
                    </div>
                </div>
                <div class="section__form__block__item">
                    <label class="section__calendar__block__list__item__label" asp-for="Notes">Další poznámky</label>
                    <textarea class="section__calendar__block__list__item__input" type="text" asp-for="Notes"></textarea>
                    <span asp-validation-for="Notes" class="section__calendar__block__list__item__error"></span>
                </div>
                <div class="section__form__block__item">
                    <input type="submit" value="Odeslat">
                </div>
                <div class="section__form__block__item">
                    <p>Odesláním souhlasím se zpracováním osobních údajů.</p>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="section section__contact">
    <div class="section__contact__back-image"></div>
    <div class="container">
        <div class="section__contact__block">
            <div class="section__contact__block__text-block">
                @Html.Raw(@ViewBag.contactInfo.Text)
            </div>
            <div class="section__contact__block__image">
                <img src="~/assets/dist/images/kontakt_delici_fotka.jpg" alt="Markéta Vodičková a Filip Vítů." />
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => { new web.MainController(); });
    </script>
}

@section ErrorContent {
    @if (ViewBag.Error != false)
    {
        <div class="error">
            <div class="container">
                <p class="error__text">Email se nepodařilo odeslat. Zkuste jej odeslat znovu.</p>
            </div>
        </div>
    }
}