@model SendMailModel

@{
    ViewBag.Title = "Odesláno";
    ViewBag.Description = "Mail se podařilo odeslat";
    ViewBag.Image = "/assets/dist/images/kontakt_fotka.jpg";
    ViewBag.ImageDescription = "Markéta Vodičková a Filip Vítů. Zlínské duo. Zlínská kapela na svatby, vernisáže, firemní akce.";
    
    Layout = "_Layout";
}

<section class="section section__simple-text">
    <div class="container">
        @Html.Raw(@Model.Article.Text)
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => { new web.MainController(); });
    </script>
}