@model ErrorViewModel
@{
    ViewBag.Title = "404";
    ViewBag.Description = "Něco se stalo špatně";
    ViewBag.Image = "assets/dist/images/kontakt_fotka.jpg";
    ViewBag.ImageDescription = "Chyba";
    
    Layout = "_Layout";
}

<section class="section section__simple-text">
    <div class="container">
        <p class="section__simple-text__text">Dostal jste se na stránku, kde jste se asi dostat nechtěl. Zkuste to znovu.</p>
    </div>
</section>